<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<div class="top-wrap">
        <section class="container">
        </section>
</div>

<!--<section class="container about">-->
<section class="register container">

<div class="static-page">
<h1 class="title">${_("Contact")}</h1>
<p>Olá! Se você é estudante da ESO e caso tenha dúvidas ou sugestões sobre algum curso específico, por favor, poste suas perguntas ou ideias  no fórum de discussão do seu curso.</p>

<p>Se você não é aluno e quer saber mais sobre a ESO, por favor, visite o nosso <a href="${marketing_link('FAQ')}">FAQ - Perguntas Frequentes</a>. Se ainda assim sua dúvida não for esclarecida, por favor, envie-nos um e-mail para <a href="mailto:staff@ucl.br" target="_blank">staff@ucl.br</a> e conte-nos também sua impressão sobre a nossa plataforma de ensino.
<!--<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>--></p>
</div>
</section>
