<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>


<div class="top-wrap">
        <section class="container">
        <!--<h2>${_("FAQ")}</h2>-->
        </section>
</div>

<section class="register container">
<!--<section class="container about">
<h1>${_("FAQ")}</h1>
<p>${_("This page left intentionally blank. It is not used by edx.org but is left here for possible use by installations of Open edX.")}</p>
</section>
-->


        
<div class="static-page">
<br>
<h2>${_("FAQ")}</h2>

<p>O nosso objetivo é fornecer ao usuário ferramentas de auto-atendimento  que garantam o seu sucesso. Caso precise de ajuda depois de ler esta seção, por  favor, envie sua dúvida através de nossa página de contato ou, se você for  estudante, envie sua pergunta no fórum de discussão do curso. </p><br />

<h2>Perguntas Básicas:</h2>

    <h3>Quem pode fazer um curso ESO? Como devo fazer o registro?</h3>
    <p>Os cursos ESO estão abertos a todos. Você só precisa ter acesso a um  computador com um navegador atual, conexão à Internet, e claro, o desejo de  aprender. Para se inscrever, crie uma conta ESO e se inscreva no curso de sua  preferência. <a href="/register">Cadastre-se</a> para começar. A inscrição é gratuita! </p>
<h3>Quais são os navegadores que suportam os cursos ESO?</h3>
    <p>Nosso material didático funciona melhor com as versões atuais do Chrome,  Firefox ou o Internet Explorer versão 9 ou superior. </p>
<h3>O que fazer quando houver um problema técnico com o registro, login ou acesso ao curso?</h3>
    <p>Muitos problemas com registro, login, ou acesso a cursos ESO são  decorrentes de problemas com o navegador. &nbsp;Veja algumas alternativas que  podem ser testadas para resolver a situação: <br />
      - Mudar para a versão atual do Chrome ou Firefox <br />
      - Verificar se as configurações do navegador para garantir JavaScripte  cookies estão ativados. <br />
    - Limpar o cache do seu navegador </p>
<h3>Quanto custa fazer um curso na ESO?</h3>
    <p>Os cursos da ESO são gratuitos. </p>
<h3>Os cursos são acessíveis a estudantes com deficiência?</h3>
    <p>A ESO criou uma plataforma inovadora on-line de aprendizagem que promove  a acessibilidade a todos, incluindo os alunos com deficiência. Dedicamo-nos a  melhorar a acessibilidade da plataforma, por isso, por favor, &nbsp;envie-nos  &nbsp;seus comentários ou perguntas para staff@ucl.br. </p>
<h3>Em que linguagem os cursos são oferecidos?</h3>
    <p>A maioria dos cursos são oferecidos em Português do Brasil. Porém,  alguns cursos são oferecidos em outras línguas, mas oferecem legendas em  português. Futuramente, outros idiomas serão incluídos. Por favor, acesse à  página de descrição do curso para verificar os idiomas oferecidos. </p>
<h3>Não tenho acesso ao Youtube. Como posso assistir os vídeos?</h3>
    <p>Os vídeos da ESO podem não estar disponíveis para streaming (tecnologia  que envia informações multimídia) em locais onde o YouTube é restrito. No  entanto, alguns vídeo estão disponíveis para download. Clique no link  &quot;download aqui&quot;, abaixo de cada vídeo para fazer a transferência do  arquivo. </p>
<h3>Posso acessar os cursos da ESO pelo smartphone ou tablet?</h3>
    <p>Por enquanto, a ESO ainda não suporta totalmente o acesso a partir de  dispositivos móveis. Alguns componentes do curso podem não estar disponíveis. </p>
<h3>Eu posso navegar por um curso de demonstração para conhecê-lo?</h3>
    <p>A ESO oferece um curso de demonstração divertido que orienta como  navegar no seu curso. Cadastre-se aqui no <a href="/courses/UCL/UCLX02/UCLX02/info">Curso de Demonstração</a> e confira!</p>
<h3>Eu não finalizei um curso, posso iniciar outro curso?</h3>
    <p>Sim! O curso de Demonstração foi criado para lhe dar uma visão geral de como os  cursos ESO trabalham. </p>
<h3>O que acontece quando desisto do curso? Eu poderia fazer o mesmo ou outro no futuro?</h3>
    <p>Você pode cancelar o registro de um curso ESO a qualquer momento. Não há  absolutamente nenhuma penalidade acadêmica associada com estudos incompletos. Você  pode se inscrever para o mesmo curso (desde que ainda esteja sendo ofertado) em  um momento posterior. </p>
<h3>O que é o Código de Honra da ESO?</h3>
    <p>Você encontrará o <a href="/tos#honorcode">Código de Honra ESO  aqui</a>. Cada curso também pode ter acordos específicos que possibilitam a  discussão e colaboração dos alunos.</p>
    <h3>Como eu posso contribuir com a plataforma ESO?</h3>
    <p>A plataforma ESO foi projetada não apenas para ensinar, mas também para  coletar dados sobre aprendizagem. A ESO utiliza esses dados para descobrir como  melhorar a educação on-line e no campus. Basta fazer um curso que você está  colaborando com a ESO. Obrigado! </p>
    <!--<p>Aluno, se você gostou de sua experiência com a ESO, nós o encorajamos a  compartilhar suas ideias e entusiasmo com a gente e com todos aqueles que  estiverem on-line.Compartilhe suas histórias de estudante em <a href="http://edxstories.tumblr.com/">http://edxstories.tumblr.com</a>.</p>-->
    <p>Desenvolvedor, você pode ajudar o projeto, contribuindo para a  plataforma Open edX. Acesse o site <a href="http://code.edx.org/">http://code.edx.org/</a> para saber mais. </p>
<hr>
    
    <h2>Cursos:</h2>
    <h3>Quando inicia ou termina o meu curso?</h3>
    <p>Você poderá visualizar a data de início e a duração de cada curso na  página de descrição do mesmo. Se você estiver registrado, &nbsp;também poderá  conferir a data de início de suas atividades em seu painel. Um curso pode  começar a qualquer momento ao longo do dia marcado. Se na data marcada as  atividades ainda não estiverem disponíveis, por favor, volte mais tarde ao  decorrer do dia. Você não precisa fazer login no dia exato, marcado para  iniciar as atividades. </p>
<h3>Como faço login nos cursos ESO?</h3>
    <p>Depois de se inscrever para um curso e ativar sua conta, clique no botão  &ldquo;Login&rdquo;, na página inicial eso.org.br e digite seu endereço de e-mail e senha  ESO. Isso o levará ao seu painel, com acessos a cada um de seus cursos,  listados no painel de controle, antes de seu início, mesmo sem aparecer a opção  &ldquo;Ver Curso&rdquo;. </p>
<h3>Quantas horas de dedicação são necessárias para eu ser aprovado(a) no meu curso?</h3>
    <p>As horas de estudo previstas para cada curso estarão disponíveis na  página de descrição do curso. Se não estiverem listadas, por favor, verifique o  fórum de discussão ou aguarde o início das aulas. </p>
<h3>Como devo me preparar para fazer um curso da ESO, existem pré Requisitos?</h3>
    <p>Cada curso é diferente, alguns possuem pré-requisitos, outros não.  Verifique os pré-requisitos recomendados no seu curso, na página de descrição  do curso. Se você não atender a um requisito específico, ainda assim poderá cursá-lo. <br />
    Embora não seja um pré-requisito, a ESO oferece um curso de demonstração  divertido que pode ajudá-lo a aprender a navegarpelas aulas antes que elas  comecem. Cadastre-se no <a href="/courses/UCL/UCLX02/UCLX02/info">Curso de Demonstração</a> e confira! </p>
<h3>Estou interessado em ler o material antes do início das aulas, quais livros devo ler?</h3>
    <p>Todo o material acadêmico exigido será fornecido durante as aulas,  através do seu navegador. Alguns cursos podem listar recursos adicionais em  suas páginas de descrição. Para obter um material de leitura suplementar, envie  uma pergunta para o fórum de discussão e peça sugestões a seus colegas e equipe  do curso. </p>
<h3>Posso fazer o download do livro do curso?</h3>
    <p>Salvo indicação específica, o conteúdo do livro ESO só poderá ser visto  dentro do navegador; baixá-lo, violaria as leis de direitos autorais. Se você  precisa ou quer uma cópia do livro, recomendamos a compra de uma cópia  original. </p>
<h3>Posso fazer mais de um curso por vez?</h3>
    <p>Sim! Você pode fazer vários cursos ESO. Recomendamos a verificação dos  requisitos em cada página de descrição do curso para equilibrar suas horas de  estudo disponíveis e as demandas dos cursos pretendidos. </p>
<h3>Que horas começam as aulas?</h3>
    <p>Os cursos acontecem de acordo com sua disponibilidade. Palestras e  trabalhos estão disponíveis 24 horas por dia, o que significa que você pode  assistir a vídeos e realizar os trabalhos sempre que tiver tempo. Basta fazer  login para o seu curso e trabalhar com o material disponível. Enquanto as  atribuições e exames muitas vezes têm datas de vencimento, estes são projetados  para oferecer tempo de espera suficiente para que você possa programar o seu  trabalho facilmente. </p>
<h3>Se eu perder uma semana de aula, afetará o meu desempenho?</h3>
    <p>Certamente é possível ser aprovado em um curso ESO se você perder uma  semana de aula; no entanto, os cursos são progressivos, por isso, você deve analisar  e estudar o que pode ter perdido. Além disso, as atribuições e os exames não  podem ser apresentados após suas datas de vencimento. Verifique o seu plano de  curso para as datas e horários importantes. </p>
<h3>Perdi o prazo de entrega, posso fazer o trabalho em outra data?</h3>
    <p>Infelizmente não conseguimos oferecer prazos individuais. A agenda dos  cursos é fixa e não há maneira de mudar as datas de atribuições ou exames para  um aluno. Na maioria dos casos, os alunos podem perder duas semanas de  trabalhos de casa ou de exercícios de laboratório na nota final do curso.  Consulte a política de classificação do seu curso para obter mais informações. </p>
<h3>Os prazos de entrega do meu curso estão em UTC, o que é isto?</h3>
    <p>UTC refere-se ao Tempo Universal Coordenado. Para saber a hora atual em  UTC e convertê-lo em sua hora local, verifique <a href="http://www.worldtimeserver.com/current_time_in_UTC.aspx">World Time Server</a> ou outros serviços  de tempo na internet. </p>
<h3>Como posso esclarecer dúvidas sobre meu curso?</h3>
    <p>Todas as questões relativas ao conteúdo dos cursos serão melhor  abordadas em seu fórum de discussão. É lá que os colegas poderão ler e  responder a sua consulta.</p>
    <p>Nota: A maioria dos cursos ESO descreve sua política de classificação no  programa do curso. O plano de estudos e fórum de discussão estão disponíveis  uma vez que seu curso tenha iniciado. </p>
<h3>Como posso localizar outros estudantes?</h3>
    <p>Todos os cursos possuem fóruns de discussão onde você poderá conversar  com outros alunos e contribuir no âmbito do <a href="/tos#honorcode">Código de Honra</a>. Você também poderá  &quot;curtir&quot; a página ESO no <a href="https://www.facebook.com/ESOedX" target="_blank">Facebook</a> , nos adicionar no <a href="https://plus.google.com/105996628882493711424/posts" target="_blank">Google+</a> , ou  seguir-nos no <a href="https://twitter.com/ESOedX" target="_blank">Twitter</a>. </p>
<h3>Como posso falar com os professores, colegas e assistentes?</h3>
    <p>O fórum de discussão é o melhor lugar para encontrar a equipe docente  ESO do seu curso; basta postar suas perguntas. Faremos o possível para  esclarecer sua dúvida o quanto antes. </p>
<h3>Como faço para obter ajuda ou suporte com relação ao meu curso?</h3>
    <p>Você pode participar por meio de perguntas através da comunidade global  onde estarão os seus colegas de turma (no âmbito do <a href="/tos#honorcode">Código de Honra</a>), além disso, contará  com o apoio dos assistentes técnicos que monitoram o curso. Dê uma olhada no  fórum de discussão do curso. Lá você poderá rever as perguntas, respostas e  comentários de colegas, assim como postar uma pergunta. </p>
<h3>Posso refazer um curso?</h3>
    <p>Sim, você pode voltar a fazer os cursos ESO quantas vezes desejar,  assim, também terá a oportunidade de ganhar um certificado a cada vez. Cada  oferta do curso será avaliada de forma independente. </p>
<h3>O mesmo curso será oferecido novamente no futuro?</h3>
    <p>A maioria dos cursos ESO será oferecido novamente, além de novos cursos  adicionados de forma regular. Se você estiver registrado no eso.org.br,  &nbsp;receberá atualizações por email sobre os cursos novos e tradicionais que  serão oferecidos. </p>
<h3>Estou interessado em um curso que já começou. Ainda posso me inscrever?</h3>
    <p>Sim, mas infelizmente você não poderá fazer quaisquer atribuições ou  exames com prazo já vencido. Caso ainda esteja no início do curso, você poderá  completar tarefas suficientes e exames para ganhar um certificado. Para saber  mais, confira o programa do curso e sua política de classificação. </p>
<h3>O que é um curso arquivado/passado?</h3>
    <p>Alguns cursos ESO, que já foram ofertados, ficarão disponíveis como  arquivos. No entanto, alguns recursos, tais como os fóruns de discussão, podem  não estar mais disponíveis. Atenção: <strong>Nenhum certificado estará disponível para  cursos arquivados. </strong></p>
<hr>
    <h2>Certificados e Créditos</h2>
    
    <h3>Quais os tipos de certificados a ESO oferece?</h3>
    <p>ESO oferece certificados de código de honra. Atualmente, os certificados de  códigos de honra estão disponíveis apenas para alguns cursos. </p>
<h3>Como faço para fazer um curso?</h3>
	<p>Basta se inscreverem um de nossos cursos. Para a maioria dos cursos  você não precisa especificar uma  trilha de auditoria. Você terá acesso a vídeos, palestras, leituras, etc. e  poderá participar da forma que desejar. Caso não consiga finalizar tarefas ou  exames, não haverá nenhum tipo de penalidade. </p>
<h3>O que é um certificado de código de honra?</h3>
    <p>Um certificado de código de honra certifica que você concluiu com  sucesso um curso, mas não verifica sua identidade. Eles são gratuitos. </p>
<h3>O meu certificado inclui a grade e o número de horas feitas durante o curso?</h3>
    <p>Por enquanto não, mas podemos considerar a opção no futuro. </p>
<h3>Posso obter uma cópia em papel do meu certificado?</h3>
    <p>A ESO não envia cópias impressas de certificados. Você pode, no entanto,  imprimir sua cópia do arquivo em PDF. </p>
<h3>Será que minha faculdade vai aceitar meu curso ESO para o crédito?</h3>
    <p>Cada instituição de ensino tem sua própria decisão sobre o crédito.  Verifique a política da sua faculdade. Atenção: A ESO não oferece transcrições  ou comprovante de inscrição com a finalidade de obtenção de crédito. </p>
<h3>Como são entregue os certificados ESO?</h3>
    <p>Os certificados são enviados on-line através do eso.org.br. Uma vez que  as notas forem finalizadas e você tenha sido aprovado, seu certificado estará  disponível para download em seu painel de controle. </p>
<h3>Por que não recebi meu certificado?</h3>
    <p>Os certificados geralmente são entregues no prazo aproximado de duas  semanas, período em que o curso é fechado. Caso não tenha recebido o documento  e esteja certo de que tenha completado os requisitos, por favor, verifique o <a href="/dashboard">painel de controle</a>. O certificado será exibido em seu  curso. </p>
<h3>Eu perdi o meu certificado ESO – posso obtê-lo novamente?</h3>
    <p>Sim, basta fazer o login em sua conta e acessar o painel de controle.  Você poderá visualizá-lo e fazer o download no mesmo momento. </p>
<hr>
    <h2>OUTRAS QUESTÕES DE AJUDA - QUESTÕES SOBRE SUA CONTA</h2>
        
    <h3>E se o meu nome de usuário já foi usado?</h3>
    <p>Por favor tente um nome diferente - por exemplo, tente adicionar um  número aleatório no final do nome. </p>
<h3>E se eu estiver tendo problemas de login (senha/e-mail não reconhecidos)?</h3>
    <p>Você pode estar usando um navegador mais antigo. Recomendamos fazer o  download da versão atual do Firefox ou Chrome. Além disso, utilize Internet  Explorer versão 9 ou superior. Tente, também,limpar o cachê do seu navegador. </p>
<h3>E se eu esquecer minha senha?</h3>
    <p>Você vai encontrar um link &quot;Esqueceu a senha?&quot; sob o campo de  senha na tela de login. Clique nesse link e digite seu endereço de e-mail.  Vamos enviar uma mensagem que lhe permitirá redefinir sua senha. </p>
<h3>E se eu não receber um e-mail de ativação ou de redefinição de senha?</h3>
    <p>Se você não receber nenhum e-mail automático pode ser porque: </p>
    <ul type="disc">
      <li>Houve um erro de digitação no seu endereço de e-mail. </li>
      <li>O seu filtro de spam pode ter pego o e-mail. Por favor, verifique a sua pasta de spam. </li>
      <li>Você pode estar usando um navegador mais antigo. Recomendamos fazer o download da versão atual do Firefox ou       Chrome. </li>
      <li>O JavaScript está desabilitado no seu navegador. Verifique as configurações do seu navegador e confirme se o       JavaScript está ativado. </li>
      <li>Você não registrou uma conta no eso.org.br. Por favor, tente registrar novamente com o mesmo endereço de e-mail. (Se       já existir uma conta, você verá um erro a respeito de um endereço de e-mail duplicado). </li>
    </ul>
    <p>Se você continuar tendo problemas para ativar sua conta, recomendamos criar uma nova conta. Não há necessidade de fazer qualquer coisa sobre a conta  antiga. Caso não consiga ativá-la através do link no e-mail, elairá desaparecer  depois. </p>
<h3>Posso apagar a minha conta?</h3>
    <p>Não há necessidade de apagar sua conta. Qualquer conta antiga que não for utilizada e que não possuir conclusões de cursos associados, desaparecerá. </p>
<h3>E se eu tiver algum problema para visualização de vídeos?</h3>
    <p>Por favor, verifique o seu navegador e as suas configurações – O Java Script  precisa estar ativado. Recomendamos baixar e usar a versão atual do Firefox ou  Chrome. </p>
<h3>E se a minha pergunta não foi respondida aqui?</h3>
    <p>Por favor, entre em <a href="/contact.html">contato</a> conosco! Faremos o  possível para ajudá-lo(a). </p>
</div>
</section>
