<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<div class="top-wrap">
        <section class="container">
        </section>
</div>

<section class="container about">

<div class="static-page"> 
<h1 class="title">${_("Honor Code")}</h1>
<p class="subtitulo">POL&Iacute;TICA DE COLABORA&Ccedil;&Atilde;O</p>
  <p>Ao se matricular em um curso ESO, você está se juntando a uma comunidade  mundial de alunos. A aspiração da ESO é fornecer a qualquer pessoa que tenha a  motivação e a capacidade de envolver os cursos da Faculdade UCL, com sede na  Serra ES, a experiência educacional que a tecnologia da Internet permite. Você  faz parte da comunidade que irá contribuir para atingirmos esse objetivo. </p>
  <p>    A ESO depende de sua motivação para aprender. Para participar conosco,  você deve concordar com o Código de Honra abaixo e com quaisquer termos  adicionais específicos para a classe. Este Código de Honra, e quaisquer termos  adicionais, serão publicadas no site de cada classe. </p>
<p class="subtitulo">COMPROMISSO COM O C&Oacute;DIGO DE HONRA ESO</p>
  <p>Ao se matricular em um curso da ESO, eu concordo que vou: </p>
  <ul type="disc">
    <li>Completar todos os meados dos termos e exames finais com o meu próprio trabalho e apenas o meu próprio trabalho. Eu não vou enviar o trabalho de qualquer outra pessoa. </li>
    <li>Manter apenas uma conta de usuário e não deixar ninguém usar o meu nome de usuário e/ou senha. </li>
    <li>Não me envolver em qualquer atividade desonesta para melhorar os meus resultados, ou melhorar ou prejudicar os resultados dos outros. </li>
    <li>Não postar respostas para os problemas que estão sendo usados para avaliar o desempenho do aluno. </li>
  </ul>
  <p>Salvo indicação os alunos são incentivados a: </p>
  <ul type="disc">
    <li>Colaborar com outras pessoas vídeos de palestras, exercícios, trabalhos de casa e laboratórios. </li>
    <li>Discutir com outros os conceitos gerais e materiais de cada curso. </li>
    <li>Apresentar ideias para outros alunos ESO relativas a trabalhos escritos bem como contribuir com outras informações em forma de comentário ou crítica. </li>
  </ul>
<p class="subtitulo">ALTERAR O C&Oacute;DIGO DE HONRA</p>
  <p>Por favor, note que revisamos este Código de Honra e que podemos  realizar alterações periodicamente. Quaisquer alterações realizadas entrarão em  vigor imediatamente após a publicação desta página, com uma data efetiva  atualizada. Ao acessar o site após quaisquer mudanças feitas, você manifesta  sua concordância de forma prospectiva para o Código de Honra modificado e para  quaisquer alterações nelas contidas. Não se esqueça de retornar a esta página  periodicamente para garantir a familiaridade com a versão mais atual deste  documento.</p>
<p><strong>Data de Vig&ecirc;ncia:</strong> 22 de setembro de 2014</p>
</div>
</section>
